@model tckr.Models.AllUserViewModels
<script>
    $(document).ready(function(){
      $('#landingwrapper').hide();
      $('#landingwrapper').fadeIn(1000);
    })
</script>
<div id="landingwrapper">
  <div id="landingheader">
    @Html.Partial("header")
  </div>
  @Html.Partial("navbar")
</div>



<!-- Login Modal -->
<!-- tabindex prevents tab from entering page and focuses it on modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" keyboard="true" aria-labelledby="LoginModal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div id="LoginHeader" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Login</h4>
        </div>
        <div id="LoginMain" class="modal-body">
          
          <form asp-controller="User" asp-action="LoginSubmit" method="post" class="form-group">
            <label asp-for="Log.Email">Email</label>
            <input asp-for="Log.Email" placeholder="Email Address" class="form-control"> 
            <span id="emailError"></span>


            <label asp-for="Log.Password">Password</label>
            <input asp-for="Log.Password" placeholder="Password" class="form-control"> 
            <span asp-validation-for="Log.Password"></span>

            <span>@ViewBag.loginError</span>

            <br>
           
            <button type="submit" class="btn-block btn-sm btn-primary" id="loginSubmit">Submit</button>

          </form>
        </div>

      </div>
  </div>
</div>
  
  <!--End Login Modal -->



  <!--Register Modal -->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" keyboard="true" aria-labelledby="RegisterModal" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div id="RegHeader" class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Register</h4>
        </div>
        <div id="RegMain" class="modal-body">
          
            <form asp-controller="User" asp-action="NewUser" method="POST" class="form-group">
                <label asp-for="Reg.FirstName">First Name</label>
                <input asp-for="Reg.FirstName" placeholder="First Name" class="form-control"> 
                <span asp-validation-for="Reg.FirstName"></span>

                <br>

                <label asp-for="Reg.LastName">Last Name</label>
                <input asp-for="Reg.LastName" placeholder="Last Name" class="form-control"> 
                <span asp-validation-for="Reg.LastName"></span>
                
                <br>

                <label asp-for="Reg.Email">Email</label>
                <input asp-for="Reg.Email" placeholder="Email Address" class="form-control"> 
                <span asp-validation-for="Reg.Email"></span>

                <br>

                <label asp-for="Reg.Password">Password</label>
                <input asp-for="Reg.Password" placeholder="Password" class="form-control"> 
                <span asp-validation-for="Reg.Password"></span>

                <br>

                <label asp-for="Reg.ConfirmPassword">Confirm Password</label>
                <input asp-for="Reg.ConfirmPassword" placeholder="Confirm Password" class="form-control"> 
                <span asp-validation-for="Reg.ConfirmPassword"></span>

                <span> @ViewBag.email </span>
                <br>
                
                <button type="submit" class="btn-block btn-sm btn-primary">Submit</button>
            </form>
        </div>

      </div>
    </div>
  </div>
</div>  
  <!--End Register Modal -->


<!-- Most Active Stock List -->
  <script>
    $(document).ready(function(){
        $('#portfoliowrapper').hide();
        $('#portfoliowrapper').fadeIn(1000);
        $(".nav li").on("click", function() {
            $('#portfoliowrapper').fadeOut(1000);
        });
    })
</script>
<div id="ActiveListWrapper">
  <h3 id="ActiveListHeader">Top 10 Most Active Stocks On The Market</h3>
  <table class="table table-responsive">
    <thead>
      <th>Symbol</th>
      <th>Name</th>
      <th>Current Price</th>
      <th>Gain/Loss Price</th>
      <th>Gain/Loss Percentage</th>
      <th>Total Volume (Shares)</th>
      <th>Average Total Volume (Shares)</th>
      <th>P/E Ratio</th>
      <th>52 Week High</th>
      <th>52 Week Low</th>
    </thead>
    <tbody>
    @foreach(var stock in @ViewBag.AllActiveStocks) {
      <tr>
        <td>@stock["symbol"]</td>
        <td>@stock["companyName"]</td>
        <td>@stock["latestPrice"]</td>
        <td>@stock["change"]</td>
        <td>@stock["changePercent"]</td>
        <!-- Format as number ("N") in order to add commas by thousands place. -->
        <td>@stock["iexVolume"].ToString("N")</td>
        <td>@stock["avgTotalVolume"].ToString("N")</td>
        <td>@stock["peRatio"]</td>
        <td>@stock["week52High"]</td>
        <td>@stock["week52Low"]</td>
      </tr>
    }
    </tbody>

  </table>
</div>