@model tckr.Models.StockViewModel
<h3>@ViewBag.User.FirstName's Portfolio</h3>
<h1>Total: @ViewBag.Total.ToString("C2")</h1>
<table>
    <thead>
        <th>Symbol</th>
        <th>Name</th>
        <th>Number of Shares</th>
        <th>Purchase Price</th>
        <th>Purchase Value</th>
        <th>Current Price</th>
        <th>Current Value</th>
        <th>Gain/Loss in Price</th>
        <th>Gain/Loss in Value</th>
        <th>Gain/Loss Percentage</th>
        <th>Week 52 Low</th>
        <th>Week 52 High</th>
    </thead>
    <tbody>
    @foreach (var Stock in ViewBag.Portfolio.Stocks)
    {
        <tr>
            <td>@Stock.Symbol</td>
            <td>@Stock.Name</td>
            <td>@Stock.Shares</td>
            <td>@Stock.PurchasePrice.ToString("C2")</td>
            <td>@Stock.PurchaseValue.ToString("C2")</td>
            <td>@Stock.CurrentPrice.ToString("C2")</td>
            <td>@Stock.CurrentValue.ToString("C2")</td>
            <td>@Stock.GainLossPrice.ToString("C2")</td>
            <td>@Stock.GainLossValue.ToString("C2")</td>
            <td>@Stock.GainLossPercent.ToString("0.###")%</td>
            <td>@Stock.Week52Low.ToString("C2")</td>
            <td>@Stock.Week52High.ToString("C2")</td>
        </tr>
    }
    </tbody>
</table>

<form asp-controller="User" asp-action="PortfolioAdd">
    <label for="Symbol">Stock Symbol</label>
    <input asp-for="Symbol" class="form-control">
    <span asp-validation-for="Symbol"></span>
    <br>
    <label for="Shares">Number of Shares</label>
    <input asp-for="Shares" class="form-control">
    <span asp-validation-for="Shares"></span>
    <br>
    <label for="PurchasePrice">Purchase Price</label>
    <input asp-for="PurchasePrice" class="form-control">
    <span asp-validation-for="PurchasePrice"></span>
    <br>
    <input type="submit" class="btn btn-primary">
</form>